.date-picker *,
.default-container {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  position: relative;
  color: black;
}

.date-picker {
  --wd: 190px;
  --hg: 200px;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--wd);
  height: var(--hg);
  z-index: 1;
  font-size: 10px;
  color: black;
}

.date-picker .date-wrapper {
  --fr: minmax(0, 1fr);
  position: relative;
  width: 100%;
  background-color: white;
  height: 100%;
  display: grid;
  grid-template-columns: var(--fr);
  grid-template-rows: auto var(--fr);
  padding: 3%;
  border: 1px solid lightgray;
  border-radius: 15px;
  box-shadow: 10px 10px 10px lightgrey;
}

.date-picker .date-wrapper .year-selector {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: minmax(0, 0.3fr) minmax(0, 0.3fr) var(--fr) minmax(0, 0.3fr) minmax(0, 0.3fr);
  grid-gap: 4px;
  align-items: center;
}

.date-picker .date-wrapper .year-selector .move {
  text-align: center;
  background-color: lightgrey;
  border-radius: 45%;
  padding: 20%;
  font-weight: bold;
}

.date-picker .date-wrapper .year-selector .selector {
  background-color: white;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: var(--fr);
  grid-template-rows: repeat(2, var(--fr));
}

.date-picker .date-wrapper .date-selector {
  display: grid;
  grid-template-columns: var(--fr);
  grid-template-rows: auto var(--fr);
  width: 100%;
  height: 100%;
}
.date-picker .date-wrapper .date-selector .row {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, 1fr);
  height: auto;
  justify-content: space-around;
  cursor: pointer;
}
.date-picker .date-wrapper .date-selector .dates .date:hover {
  background-color: lightgrey;
  border-radius: 45%;
}
.date-picker .date-wrapper .date-selector .days .day {
  text-align: center;
  text-transform: capitalize;
  width: 100%;
  height: auto;
}
.date-picker .date-wrapper .date-selector .dates {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.date-picker .date-wrapper .date-selector .row {
  height: 100%;
  width: 100%;
}
.date-picker .date-wrapper .date-selector .dates .date {
  text-align: center;
}
.date-picker .date-wrapper .date-selector .dates .active {
  background-color: rosybrown;
  border: 1px solid rosybrown;
  border-radius: 50%;
}
.date-picker .date-wrapper .date-selector .dates .active:before {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 90%;
}
