.default-container {
  width: inherit;
  height: inherit;
  display: flex;
}
.default-container input {
  height: 100%;
  font-weight: bold;
  position: relative;
  outline: none;
  background-color: lightgray;
  border: 1px solid lightgray;
  border-radius: 15px;
  padding: 5px;
}
