.selector-container * {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.selector-container {
  --fr: minmax(0, 1fr);
  --size: 5px;
  --type: solid;
  --active-bg: blue;
  --active-color: white;
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: var(--fr);
  overflow: unset;
  grid-template-rows: auto var(--fr);
}
.selector-container .option-and-value {
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.selector-container .option-and-value .title-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selector-container .option-and-value .title-container .value {
  font-weight: bold;
}
.selector-container .option-and-value .title-container .arrow {
  width: 0;
  height: 0;
  border-left: var(--size) var(--type) transparent;
  border-right: var(--size) var(--type) transparent;

  border-top: var(--size) var(--type) #f00;
}

.selector-container .option-and-value .options {
  display: flex;
  flex-direction: column;
  min-height: 150px;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  height: 0;
  width: 100%;
  align-items: center;
  transition: all 0.4s linear;
  background-color: white;
  scroll-behavior: smooth;
}

.selector-container .option-and-value .options .opt {
  width: 100%;
  text-align: center;
  height: 100%;
  pointer-events: none;
}

.selector-container .option-and-value .options .opt:hover {
  cursor: pointer;
  background-color: lightgray;
  font-weight: bold;
}

.selector-container .option-and-value .options .active {
  background-color: var(--active-bg);
  color: var(--active-color);
  font-weight: bold;
  overflow: unset;
}

.active .option-and-value .options {
  z-index: 3;
  opacity: 1;
  height: 100%;
}

.active .option-and-value .options .opt {
  pointer-events: all;
}

.active .option-and-value .title-container .arrow {
  border-top: unset;
  border-bottom: var(--size) solid red;
}
